@import "~assets/styles/global";

.signUpContainer {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.pageContainer {
  padding: 50px 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.svgImage {
  svg {
    width: 350px;
  }
}

.signUpBox {
  @include formBox;
}
