@import "~assets/styles/global";

.footerContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    label {
      color: $secondary;
      margin: 20px 0;
    }
    a {
      text-decoration: none;
      padding: 8px 60px;
      border-radius: 30px;
      box-shadow: $boxShadow;
      color: $white;
      background-color: $thirdLight;
      &:hover {
        background-color: $third;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
  }
}
