@import "~assets/styles/global";

.footerContainer {
  display: flex;
  align-items: flex-start;
  margin-inline-end: auto;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline-end: 50px;
    label {
      color: $secondary;
      margin: 20px 0;
    }
    a {
      text-decoration: none;
      padding: 8px 60px;
      border-radius: 30px;
      box-shadow: $boxShadow;
      color: $white;
      background-color: $thirdLight;
      &:hover {
        background-color: $third;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
  }
}
