@import "~assets/styles/global";

.teacherItem {
  box-shadow: $boxShadow;
  border-radius: 8px;
  transition: 0.2s ease;
  min-width: 300px;
  padding: 30px 0 20px 0;
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $secondary;
  text-align: center;
  & > span {
    color: $secondary;
    margin: 10px 0;
    font-weight: 900;
  }
  p {
    margin: 15px 0;
    padding: 0 30px;
  }
}

.imgContainer {
  position: absolute;
  top: -70px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  img {
    object-fit: contain;
    width: 100px;
    border-radius: 50%;
    border: 2px solid $secondary;
  }
}

.subject {
  background-color: $fourth;
  border-radius: 30px;
  padding: 3px 25px;
  color: $white;
  h3 {
    font-weight: 400 !important;
  }
}

.navButtons {
  display: flex;
  a {
    text-decoration: none;
    margin: 0 20px;
    border-radius: 8px;
    padding: 8px 20px;
    border: none;
    outline: none;
    color: $white;
    &:nth-child(1) {
      background-color: $primary;
    }
    &:nth-child(2){
      background-color: $third;
    }
  }
}
