@import "~assets/styles/global";

.homeHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 200px;
    margin-inline-end: auto;
  }
}

.navsContainer {
  display: flex;
  a {
    text-decoration: none;
    margin-inline-start: 50px;
    color: $white;
    @include gradientColor(-45deg);
    box-shadow: $boxShadow;
    border-radius: 30px;
    padding: 8px 25px;
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.05);
      box-shadow: $boxShadow;
    }
    &:active {
      transition: none;
      box-shadow: $boxShadow;
      transform: scale(0.95);
    }
  }
}
