//Colors
$primary: #f18c8e;
$secondary: #305f72;
$third: #3498db;
$fourth: #ffc850;
$primaryLight: #f19895;
$secondaryLight: #386a7e;
$thirdLight: #49a9e9;
$textColor: #070404;
$white: #ffffff;
$gray: #a5b1c2;

//Values
$boxShadow: 0px 2px 10px
  rgba(
    $color: $textColor,
    $alpha: 0.2,
  );

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap"); //Tajawal => font-family: 'Tajawal', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap"); //Cairo => font-family: 'Cairo', sans-serif;

//Media Queries
@mixin media($breakpoint) {
  @if $breakpoint == phone-sm {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == phone-md {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == phone-lg {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 798px) {
      @content;
    }
  }
  @if $breakpoint == tablet-md {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tablet-lg {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media only screen and (max-width: 1680px) {
      @content;
    }
  }
}

/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/

/*****************************************/

// Global Styles

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 98vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
button {
  font-family: "Tajawal", sans-serif;
}

//scrollbar style
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color: $white;
}
*::-webkit-scrollbar-thumb {
  background-color: $textColor;
  border-radius: 10px;
}
/********************************************************/

//display flex
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************************/

@mixin dashLine {
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    $gray 55%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: bottom;
  background-size: 8% 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 2px;
}
/******************************/

@mixin smallDashLine {
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    $gray 55%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: bottom;
  background-size: 5% 2px;
  // background-repeat: repeat-x;
  width: 50%;
  height: 2px;
}
/**********************************/

@mixin gradientColor($direction) {
  @if $direction == right {
    background: linear-gradient(45deg, $fourth 0%, rgba($primary, 0.5) 100%);
  }
  @if $direction == left {
    background: linear-gradient(-45deg, $fourth 0%, rgba($primary, 0.5) 100%);
  }
}

/**********************************/

@mixin formBox {
  background-color: $primary;
  box-shadow: $boxShadow;
  padding: 25px 20px;
  border-radius: 8px;
  width: 350px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3,
  h4 {
    color: $white;
    margin-bottom: 25px;
  }
  h4 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 400;
  }
  .formContainer {
    width: 100%;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
    .submitBtn {
      margin-top: 30px;
    }
    button {
      background-color: $secondary;
      color: $white;
      border: none;
      border-radius: 4px;
      width: 50%;
      align-self: center;
      cursor: pointer;
      padding: 5px 20px;
      font-size: 18px;
      transition: 0.2s ease;
      &:hover {
        background-color: $secondaryLight;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
    label {
      color: $white;
      margin-bottom: 8px;
    }
    input {
      outline: none;
      border: none;
      padding: 8px 22px;
      border-radius: 8px;
      box-shadow: $boxShadow;
      border: 2px solid transparent;
      transition: 0.2s ease;
      &:focus {
        border: 2px solid $third;
      }
      &::placeholder {
        color: $gray;
      }
    }
    .selectContainer {
      position: relative;
      select {
        outline: none;
        border: none;
        padding: 8px 22px;
        border-radius: 8px;
        box-shadow: $boxShadow;
        border: 2px solid transparent;
        transition: 0.2s ease;
        text-align-last: center;
        -webkit-appearance: none;
        &:focus {
          border: 2px solid $third;
        }
      }
      span {
        position: absolute;
        left: 10px;
        top: 52px;
        display: block;
        -webkit-transform: translateY(-5px) rotate(0deg);
        transform: translateY(-5px) rotate(0deg);
        border: 6px solid transparent;
        border-top: 8px solid $secondary;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        -webkit-transform-origin: 6px 4px;
        transform-origin: 6px 4px;
      }
    }
  }
  .goRegisterBtn {
    background-color: $third;
    color: $white;
    border: none;
    border-radius: 4px;
    align-self: center;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.2s ease;
    &:hover {
      background-color: $thirdLight;
    }
    &:active {
      transition: none;
      transform: scale(0.95);
    }
  }
}
