//Colors
$primary: #f18c8e;
$secondary: #305f72;
$third: #3498DB;
$primaryLight: #f19895;
$secondaryLight: #386a7e;
$thirdLight: #49a9e9;
$textColor: #070404;
$white: #ffffff;
$gray: #A5B1C2;


//Values
$boxShadow: 0px 2px 10px rgba($color: $textColor, $alpha: 0.2);

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap"); //Tajawal => font-family: 'Tajawal', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap"); //Cairo => font-family: 'Cairo', sans-serif;

//Media Queries
@mixin media($breakpoint) {
  @if $breakpoint == phone-sm {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == phone-md {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == phone-lg {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 798px) {
      @content;
    }
  }
  @if $breakpoint == tablet-md {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tablet-lg {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media only screen and (max-width: 1680px) {
      @content;
    }
  }
}

/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-sm) {

}

*/

/*****************************************/

// Global Styles

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  min-height: 98vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
button {
  font-family: "Tajawal", sans-serif;

}

//scrollbar style
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color: $white;
}
*::-webkit-scrollbar-thumb {
  background-color: $textColor;
  border-radius: 10px;
}
/********************************************************/

//Globals

//display flex
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************************/

@mixin dashLine {
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    $gray 55%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: bottom;
  background-size: 8% 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 2px;
}
/******************************/

@mixin smallDashLine {
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    $gray 55%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: bottom;
  background-size: 5% 2px;
  // background-repeat: repeat-x;
  width: 50%;
  height: 2px;
}
/**********************************/
